{% extends 'base.html' %}

{% load static %}

{% block title %}
    Patents
{% endblock %}

{% block content %}
    <!-- <style>
        @media screen and (min-width: 1024px) {
            .card {
                width: 60%;
                margin: auto;
            }
        }
    </style> -->

    <h1>Patents</h1>
    <br>
    <br>
    <a class="btn btn-info" href="addPatents" role="button">Add Patents</a>
    <br><br><br>

    {% if allPatents %}
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">Patent No</th>
                <th scope="col">Title</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">Date of File</th>
                <th scope="col">Awarded</th>
                <th scope="col"></th>
            </thead>

            <tbody>
            {% for i in allPatents %}
                <tr>
                    <td scope="row">{{ i.patent_no }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.name_faculty }}</td>
                    <td>{{ i.date_of_file }}</td>
                    {% if i.awarded == True %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#popUpModal{{ i.id }}">
                            <img src="{% static 'image/trash-bin.png' %}" alt="trash-bin">
                        </button>
                    </td>
                </tr>


                <!-- Modal -->
                <div class="modal fade" id="popUpModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="popUpModalTitle" aria-hidden="true">
                    <div class=" modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="popUpModalTitle">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h6>Are you sure, you want to delete.</h6>
                            </div>
                            <div class="modal-footer">
                                <a href="patents"><button type="button" class="btn btn-secondary" >No, thanks</button></a>
                                <a href="patentsDelete/{{i.id}}"><button type="button" class="btn btn-danger" >Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>

{% endblock %}