body {
    min-height: 90vh;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background: #000;
    color: #fff;
    padding-top: 15px;
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
}